body {
	padding-top: 60px;
}

a:hover {
    cursor: pointer;
}

ul.nav li:hover {
    cursor: pointer;
}

.full {
	max-width: none;
	width: 100%;
}


p.sidetip {
	padding-top:7px;
}

.hide {
	display: none;
}

.jumbotron p {
	font-size:12px;
}