{% extends "/music/base.html" %}
{% block mediaContent %}
<div class='panel panel-default'>
	<div class='panel-heading'><p>Artists</p></div>
	<div class='panel-body'>
		{% for artist in artists %}
			<div class='col-lg-2' ><a id='{{ artist }}' class='artist-listing thumbnail'><img src='{{ attribute(artistImages, artist) }}'><div class='caption'>{{ artist }}</div></a></div>
		{% endfor %}
	</div>
</div>
<div class='panel panel-default'>
	<div class='panel-heading'><p>Albums</p></div>
	<div class='panel-body'>
		{% for artist, album in albums %}
			<div id='{{ artist }}' class='col-lg-2'><a id='{{ album }}' class='album-listing thumbnail'><img src='{{ attribute(albumArtwork, album) }}'><div class='caption'>{{ album }}</div></a></div>
		{% endfor %}
	</div>
</div>
<div class='panel panel-default'>
	<div class='panel-heading'><p>Songs</p></div>
	<div class='panel-body'>
		<div class='song-container'>
			<table class='song-table table table-hover table-condensed'>
				<th>#</th><th></th><th>Title</th><th>Artist</th><th>Album</th><th>Time</th>
				{% for track in tracks %}
					<tr id='{{ track.fileId }}' class='song-listing album-view'><td class='trackNumber'>{{ track.trackNumber }}</td><td></td><td class='title'>{{ track.title }}</td><td class='artist'>{{ track.artist }}</td><td class='album'>{{ track.album }}</td><td class='duration'>{{ track.duration }}</td></tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
