{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<h2>Welcome to the Torrent Cloud!</h2>
	<h5>The Torrent Cloud is a project I have been working on in my spare time over the summer. It is a cloud based torrent client. Users can download torrents via magnet links to their own private cloud space. In addition to this, the Torrent Cloud will try to organize downloaded music files. It also provides an interface to view and play the users music. The project is far from completion. In addition to recognizing music, I plan to to have the service recongize and play movies and TV shows. I also would like to make the Torrent Cloud social so users can see and share whatever their friends are downloading. The site is currently under development, but if you are any employer who would like to test out the application please <a href="mailto:tab1293@ucla.edu">email</a> me and I will set up an account for you!</h5> 
{% endblock %}