{% extends "base.html" %}
{% block title %}Torrents{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/css/torrents.css">
<script src="/js/twig.js"></script>
<script>
var pendingTimeout;
var torrentDisplayTemplate = twig({
    id: "torrentDisplay",
    href: "/templates/torrents/torrentDisplay.html",
    async: false
});

var torrentMetadataTemplate = twig({
    id: "torrentMetadataTemplate",
    href: "/templates/torrents/torrentMetadata.html",
    async: false
});

function pollTorrents() {
	$.get("/torrents/poll", function(response) {
		response.torrents.forEach(function(torrent) { 
			var html = twig({ ref: "torrentDisplay" }).render({torrent:torrent});
			$("#"+torrent.hashString).html(html);
		});
		pendingTimeout = setTimeout(function () { pollTorrents() }, response.timeout);

	});

}

$(document).ready(function() {
	
	pendingTimeout = setTimeout(function () { pollTorrents() }, {{ timeout }});

	// Download modal code 
	var origDownloadModal = $('#download-modal').html();
	$('#download-modal').on('hidden.bs.modal', function () {
  		$('#download-modal').html(origDownloadModal);
  		$('#closeDownloadModal').hide();
		$('#addTorrent').hide();
		$('#fetchTorrent').button('reset');
	});

	$('#closeDownloadModal').hide();
	$('#addTorrent').hide();
	$('#fetchTorrent').button('reset');
	$(document).on('click', '#fetchTorrent', function() {
		var torrentURL = $('#torrentURL').val();
		var getData = {'torrentURL': torrentURL};
		$('#download-modal').find('.modal-body').html("<p>Loading torrent metadata <span style='margin-left:5px;'><img src='/images/ajax-loader.gif' /></span></p>");
		$('#fetchTorrent').attr('disabled', 'Fetching torrent');
		$.get("/torrents/fetch", getData, function(response) {
			if(response.error) {
				if(response.torrentMetadata != null) {
					var html = twig({ ref: "torrentMetadataTemplate" }).render({metadata:response.torrentMetadata});
					$('#download-modal').find('.modal-body').html(html).append("<p>"+response.message+"</p>");
				} else {
					$('#download-modal').find('.modal-body').html("<p>"+response.message+"</p>");
				}
				$("#fetchingTorrent").hide();
				$('#closeDownloadModal').show();
			} else {
				var html = twig({ ref: "torrentMetadataTemplate" }).render({metadata:response.torrentMetadata});
				$('#download-modal').find('.modal-body').html(html);
				$("#fetchTorrent").hide();
				$('#download-modal').data('hashString', response.torrentMetadata.hashString);
				$('#download-modal').data('torrentURL', torrentURL);
				$('#download-modal').data('torrentSize', response.torrentMetadata.totalSize);
				$('#addTorrent').show();
			}
		}, 'json');
	});

	$(document).on('click', '#addTorrent', function() {
		var postData = {'torrentURL': $('#download-modal').data('torrentURL'), 'hashString':$('#download-modal').data('hashString'), 'torrentSize':$('#download-modal').data('torrentSize')};
		$.post("/torrents/add", postData, function(response) {
			clearTimeout(pendingTimeout);
			pendingTimeout = setTimeout(function () { pollTorrents() }, response.timeout);
			$("#client").append(response.torrent);
			$('#download-modal').modal('hide')
			$('#add-tip').remove();

		});
		return false;
	});


	/*$(document).on('click', '.download-torrent', function(e) {
		var torrentHash = $(this).parents(".torrent-listing").attr("id");
		var torrentName = $(this).parent().prev().text()
		var postData = {'torrentHash': torrentHash, 'torrentName': torrentName};
		$(this).popover({content: "Preparing download <i class='fa fa-spinner fa-spin'></i>", placement:"right", container: 'body', html: true});
		$(this).popover('show');
		var button = $(this);

		$.post("/torrents/download", postData, function(response) {
			if(response.status) {
				console.log(button);
				button.popover('destroy');
				$("body").append("<iframe src='" + "/torrents/download?zipFile="+response.zipFilename + "' style='display: none;' ></iframe>");
			} else {
				alert(response.message);
			}
		}, 'json');
		
	
	});*/

	$(document).on('click', '.download-torrent', function(e) { 
		var torrentHash = $(this).parents(".torrent-listing").attr("id");
		var torrentName = $(this).parent().prev().text();
		var iframeId = "iframe-" + torrentHash;

		$(this).popover({content: "Preparing download <i class='fa fa-spinner fa-spin'></i>", placement:"right", container: 'body', html: true});
		$(this).popover('show');
		var button = $(this);

		$("#"+iframeId).remove();
		$("body").append("<iframe id='"+iframeId+"' src='/torrents/download?torrentHash="+torrentHash + "&torrentName="+torrentName+"' style='display: none;' ></iframe>");
		$("#"+iframeId).load(function() {
			button.popover('destroy');
		});
		
		return false;

	});

	$(document).on('click', '.remove-torrent', function() {
		var postData = {'torrentHash': $(this).parents(".torrent-listing").attr("id")};
		$.post("/torrents/remove", postData, function(response) {
			if(response.status) {
				$("#"+response.torrentHash).remove();
			} else {
				alert(response.message);
			}
		}, 'json');
	});
});
</script>
{% endblock %}
{% block navbar %}
	{% set vars = {'username': username} %}
	{% include 'navbar-logged-in.html' with vars%}
{% endblock %}
{% block content %}
<div class='row'>

	<div id='client' class="col-lg-12">
		
		{% if torrents is empty %}
			<p id='add-tip' class='text-center'>Click on the big green button below to add some torrents!</p>
		
		{% else %}
			{% for torrent in torrents %}
				{% include 'torrents/torrent.html' with {'torrent': torrent} %}
			{% endfor %}
		{% endif %}
		
	</div>
	<button type="button" data-toggle="modal" href='#download-modal' class="btn btn-success btn-lg btn-block"><i class="fa fa-plus fa-2x"></i></button>
</div>

<div class="modal fade" id="download-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Download Torrent</h4>
			</div>
			<div class="modal-body">
				<textarea id="torrentURL" rows='3' class='form-control' placeholder="Enter torrent's magnet link here..."></textarea>
			</div>
			<div class="modal-footer">
				<button id="fetchTorrent" class='btn btn-success'>Fetch Torrent</button>
				<button id="addTorrent" class='btn btn-success'>Add Torrent</button>
				<button id='closeDownloadModal' class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}